<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>School DataBase Management.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F47692D1DDDDFEE000A67FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F4769441DDDDFEE000A67FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F47694F1DDDDFEF000A67FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
